<section class="d-flex container-fluid pt-4">
    <aside class="col-3">
      <div class="widget widget_gallery gallery-grid-4">
        <hr class="border1">
        <h5 class="widget-title style-1">Trends</h5>
        <div class="list-group w-auto popular-post mb-1">
            <a class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside1.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside2.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside3.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  title="READ MORE" rel="bookmark" class="read-more-btn" href="">READ MORE <i class="ti-arrow-right"></i></a>
        </div>
      </div>
      <div class="widget widget_gallery gallery-grid-4">
        <hr>
        <h5 class="widget-title style-1">Trends</h5> 
        <div class="list-group w-auto popular-post">
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside4.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes  </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2 justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside5.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside6.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  title="READ MORE" rel="bookmark" class="read-more-btn" href="">READ MORE <i class="ti-arrow-right"></i></a>
        </div>
      </div>
      <div class="widget widget_gallery gallery-grid-4 mb-3">
        <hr>

        <h5 class="widget-title style-1">Trends</h5>
        <div class="list-group w-auto popular-post">
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside7.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside8.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  class=" list-group-item-action  gap-3 " aria-current="true">
                <div class="d-flex gap-2  justify-content-between">
                    <div>
                        <img src="../../../../assets/img/aside/aside9.png" alt="" class="sideimg1">
                    </div>
                    <div>
                        <h6 class="mb-0">Another title here</h6>
                        <p class="mb-0 opacity-75">Some placeholder content in a paragraph that goes a </p>
                    </div>
                </div>
            </a>
            <a  title="READ MORE" rel="bookmark" class="read-more-btn" href="">READ MORE <i class="ti-arrow-right"></i></a>
        </div>
      </div>
    </aside>
     
      <div class="news-tiles col-9">
        <div>
            <article class=" ">
                <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                        <div class="text-wrapper ">
                                <span>
                                    <a href="" title="" target="_self" data-automation-id="news-tile-category">Office Buildings</a>
                                </span>

                            <a href="" title="" target="_self" class="article-link">
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                            </a>
                        </div>
                <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/office-buildings.jpg)"></div>
            </article>
        </div>
            
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="" target="_self" data-automation-id="news-tile-category">Form Houses</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                    <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/form-houses.jpg)"></div>
                </article>
            </div>
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="" target="_self" data-automation-id="news-tile-category">New Constructions</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                    <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/new-constructions.jpg)"></div>
                </article>
            </div>
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="" target="_self" data-automation-id="news-tile-category">Commercial Buildings</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                    <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/commercial-buildings.jpg)"></div>
                </article>
            </div>
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="" target="_self" data-automation-id="news-tile-category">Apartments</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                    <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/apartments.jpg)"></div>
                </article>
            </div>
           
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="Design" target="_self" data-automation-id="news-tile-category">111 GO Lands</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                    <div class="article-background" style="background-image: url(../../../../assets/img/welcome-imges/111-go-lands.jpg)"></div>
                </article>
            </div>
            <div>
                <article class=" ">
                    <a href="" title="" target="_self" routerLink="/open-lands" routerLinkActive="active" (click)="scrollToTop()"></a>

                            <div class="text-wrapper ">
                                    <span>
                                        <a href="" title="" target="_self" data-automation-id="news-tile-category">Open Lands</a>
                                    </span>

                                <a href="" title="" target="_self" class="article-link">
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. </h3>
                                </a>
                            </div>
                            <!-- <div class="dlab-post-media dlab-img-effect zoom-slow">
                                <a ><img src="../../../../assets/img/blog-img.webp" alt="LOOM-NEST-POST1"></a>
                            </div> -->
                    <div class="article-background dlab-post-media dlab-img-effect zoom-slow" style="background-image: url(../../../../assets/img/welcome-imges/opens-lands.jpg)"></div>
                </article>
            </div>

    </div>
  
  </section>