
<div class="main-banner">
  <div class="d-table">
      <div class="d-table-cell">
          <div class="main-banner item-bg-one">
              <div class="d-table">
                  <div class="d-table-cell">
                      <div class="container">
                        <div class="main-banner-text">
                          <h1 class="heading">
                            Find your next  property
                           </h1>
                        </div>       
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="form-card">
          <div class="nav justify-content-between ">
           <!-- <li class="nav-item"> -->
              <!-- <span  (click)="selected('link1')" class="nav-link {{
                hello === 'link1' ? 'active' : ''
              }}">
                <span class="borders"></span>
                <span class="borders"></span>
                hello
                <div  class="down-menu" *ngIf="hello === 'link1'">
                  <span>hello1</span>
                  <span>hello2</span>
                  <span>hello3</span>
                  <span>hello4</span>
                </div>
              </span>
              
            </li>
            <span  (click)="selected('link2')" class="nav-link {{
              hello === 'link2' ? 'active' : ''
            }}">
              <span class="borders"></span>
              <span class="borders"></span>
              hello
              <div  class="down-menu" *ngIf="hello === 'link2'">
                <span>hello1</span>
                <span>hello2</span>
                <span>hello3</span>
                <span>hello4</span>
              </div>
            </span> -->
            <a  class="nav-link">Buy</a>
            <a  class="nav-link">Sell</a>
            <a  class="nav-link">Lands</a>
            <a  class="nav-link">Commercial</a>
            <a  class="nav-link">Projects</a>
          </div>
  
          <form action="" class=" form-group">
            <div class="d-flex align-items-center ">
              <div class="">
                 <!-- <span  (click)="selected('link2')" class="nav-link {{
                    hello === 'link2' ? 'active' : ''
                  }}">
                    <span class="borders"></span>
                    <span class="borders"></span>
                    hello
                    <div  class="down-menu" *ngIf="hello === 'link2'">
                      <span>hello1</span>
                      <span>hello2</span>
                      <span>hello3</span>
                      <span>hello4</span>
                    </div>
                  </span> -->
                <label class="dropdown">
                  <div class="dd-button">
                    Residential flat
                  </div>
                  <input type="checkbox" class="dd-input" id="test">
                  <!-- <ul class="dd-menu">
                    <li>Action</li>
                    <li>Another action</li>
                    <li>Something else here</li>
                    <li>Something else here</li>
                    <li>Something else here</li>
                  </ul> -->
                </label>
              </div>
              <div class=" search-from-2">
                <div class="d-flex">
                  <i class="fa fa-search" aria-hidden="true"></i>
  
                  <form class="d-flex search-input" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  
                  </form>
                  
                </div>
              </div>
              <div class="ml-auto">
                <div class="d-flex">
                  <i class="fa fa-crosshairs" aria-hidden="true"></i>
                  <i class="fa fa-microphone" aria-hidden="true"></i>
                <button class="btn btn-primary " type="submit">Search</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>
</div>

<app-welcome></app-welcome>







