<section class="secondary-nav secondary-nav-layout2 sticky-top py-0">
   <div class="container">
       <div class="row">
          <div class="col-12 justify-content-between">
             <nav class="nav nav-tabs justify-content-between">
               <a href="" routerLink="/happy-living" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Happy Living</a>
               <a href="" routerLink="/prime-locations" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Prime Locations</a>
               <a href="" routerLink="/price-trands" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Price Trends</a>
               <a href="" routerLink="/technology" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Technology</a>
               <a href="" routerLink="/investments" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Investments</a>
               <a href="" routerLink="/press-relases" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Press Relases</a>
               <a href="" routerLink="/events" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Events</a>
               <a href="" routerLink="/gallery" routerLinkActive ="active" class="nav_link "  (click)="scrollToTop()">Gallery</a>
            </nav>
          </div>
       </div>
    </div>
</section>
