<div class="widget widget-newslatter">
    <h5 class="widget-title style-1">Newsletter</h5>
    <div class="news-box">
        <p>Enter your e-mail and subscribe to our newsletter.</p>
        <form class="dzSubscribe" action="script/mailchamp.php" method="post">
            <div class="dzSubscribeMsg"></div>
            <div class="input-group">
                <input name="dzEmail" required="required" type="email" class="form-control" placeholder="Your Email"/>
                <button name="submit" value="Submit" type="submit" class="site-button btn-block radius-no">Subscribe Now</button>
            </div>
        </form>
    </div>
</div> 