<div class="press-relases item-bg-two">
    <div class="BANNER">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><i class="fas fa-chevron-right"></i></li>
                        <li class="active">Blog</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>

  <app-blog-nav></app-blog-nav>
  
  <div class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
        <div class="page-wraper">
  
  
  
            <!-- Content -->
            <div class="page-content bg-gray">
                <!-- contact area -->
                <div class="content-inner-2 bg-gray">
                <div class="container">
                    <div class="row">
                        <ng-template [ngIf]="layout.sidebar">
                            <div class="col-xl-3 col-lg-4" *ngIf="layout.sidebarPosition=='left'">
                                <aside class="side-bar sticky-top">
                                    <!-- <app-search-form></app-search-form> -->
                                    <!-- <app-recent-post></app-recent-post> -->
                                    <app-newsletter></app-newsletter>
                                    <app-our-gallery></app-our-gallery>
                                    <app-subscribe></app-subscribe>
                                    <!-- <app-category-list></app-category-list>
                                    <app-tag-list></app-tag-list> -->
                                </aside>
                            </div>
                        </ng-template>
                        <div class="" [ngClass]="{'col-xl-9 col-lg-8': layout.sidebar === true, 'col-xl-12 col-lg-12': layout.sidebar === false}">
                            <!-- Blog half image -->
                            <div class="blog-post blog-md clearfix">
                                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                                        <a [routerLink]="['/blog-1']" ><img src="../../../../assets/img/blog/img6.jfif" alt="LOOM-NEST-POST1"></a>
                                    </div>
                                    <div class="dlab-post-info">
                                        <!-- <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-date"> <strong>17 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Oliver</a> </li>
                                            </ul>
                                        </div> -->
                                        <div class="dlab-post-title">
                                            <h4 class="post-title"><a [routerLink]="['/blog-1']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse nemo exercitationem explicabo placeat, illum dolor magni ullam amet quae sapiente quisquam quam accusantium architecto porro reprehenderit optio, perferendis ut! Fuga! </p>
                                        </div>
                                        <div class="dlab-post-readmore">
                                            <a [routerLink]="['/blog-1']" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                                <i class="ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-post blog-md clearfix">
                                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                                        <a [routerLink]="['/blog-2']"><img src="../../../../assets/img/blog-img.webp" alt=""></a>
                                    </div>
                                    <div class="dlab-post-info">
                                        <!-- <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-date"> <strong>16 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Harry</a> </li>
                                            </ul>
                                        </div> -->
                                        <div class="dlab-post-title">
                                            <h4 class="post-title"><a [routerLink]="['/blog-2']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum, fuga impedit voluptatem quia totam voluptatibus ab ut, sint mollitia tempora cumque possimus minus, alias enim nostrum! Error, aspernatur aliquid.</p>
                                        </div>
                                        <div class="dlab-post-readmore">
                                            <a [routerLink]="['/blog-2']" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                                <i class="ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-post blog-md clearfix">
                                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                                        <a [routerLink]="['/blog-3']" ><img src="../../../../assets/img/blog-img.webp" alt=""></a>
                                    </div>
                                    <div class="dlab-post-info">
                                        <!-- <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-date"> <strong>15 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Aaron</a> </li>
                                            </ul>
                                        </div> -->
                                        <div class="dlab-post-title">
                                            <h4 class="post-title"><a [routerLink]="['/blog-3']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum, fuga impedit voluptatem quia totam voluptatibus ab ut, sint mollitia tempora cumque possimus minus, alias enim nostrum! Error, aspernatur aliquid.</p>
                                        </div>
                                        <div class="dlab-post-readmore">
                                            <a [routerLink]="['/blog-3']" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                                <i class="ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-post blog-md clearfix">
                                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                                        <a [routerLink]="['/blog-4']"> <img src="../../../../assets/img/blog-img.webp" alt="LOOMA-NEST-POST-4"></a>
                                    </div>
                                    <div class="dlab-post-info">
                                        <!-- <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-date"> <strong>14 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Jamie</a> </li>
                                            </ul>
                                        </div> -->
                                        <div class="dlab-post-title ">
                                            <h4 class="post-title"><a [routerLink]="['/blog-4']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum, fuga impedit voluptatem quia totam voluptatibus ab ut, sint mollitia tempora cumque possimus minus, alias enim nostrum! Error, aspernatur aliquid.</p>
                                        </div>
                                        <div class="dlab-post-readmore">
                                            <a [routerLink]="['/blog-4']" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                                <i class="ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-post blog-md clearfix">
                                    <div class="dlab-post-media dlab-img-effect zoom-slow">
                                        <a [routerLink]="['/blog-5']"> <img src="../../../../assets/img/blog-img.webp" alt="LOOMA-NEST-POST-5"></a>
                                    </div>
                                    <div class="dlab-post-info">
                                        <!-- <div class="dlab-post-meta ">
                                            <ul>
                                                <li class="post-date"> <strong>13 Aug</strong> <span> 2016</span> </li>
                                                <li class="post-author"> By <a href="javascript:void(0);">Winnie </a> </li>
                                            </ul>
                                        </div> -->
                                        <div class="dlab-post-title">
                                            <h4 class="post-title"><a [routerLink]="['/blog-5']">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum</a></h4>
                                        </div>
                                        <div class="dlab-post-text">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum, fuga impedit voluptatem quia totam voluptatibus ab ut, sint mollitia tempora cumque possimus minus, alias enim nostrum! Error, aspernatur aliquid.</p>
                                        </div>
                                        <div class="dlab-post-readmore">
                                            <a [routerLink]="['/blog-5']" title="READ MORE" rel="bookmark" class="site-button">READ MORE
                                                <i class="ti-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
  
                        </div>
            <ng-template [ngIf]="layout.sidebar">
                <div class="col-xl-3 col-lg-3 col-4" *ngIf="layout.sidebarPosition=='right'">
                    <aside class="side-bar sticky-top">
                         <!-- <app-search-form></app-search-form> -->
                        <!-- <app-recent-post></app-recent-post> -->
                        <app-newsletter></app-newsletter>
                        <app-our-gallery></app-our-gallery>
                        <app-subscribe></app-subscribe>
                       <!-- <app-category-list></app-category-list>
                       <app-tag-list></app-tag-list> -->
                    </aside>
                </div>
            </ng-template>
        </div>
    </div>
  </div>
  
  
  <ul class="meal-list">
      <li *ngFor="let meal of meals | paginate: { itemsPerPage: 10, currentPage: page }">
          {{ meal }}
      </li>
  </ul>
  <div class="has-text-centered">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>