<footer class="">
  <section class="how-work-area footer-area">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-3 footer-widget footer-widget-about">
          <div class="footer-widget__content">
            <img src="assets/img/smartagents/logo/smart-agance-logo.png" alt="logo"
              style="width: 185px; margin: 10px;" routerLink="/home" routerLinkActive="active"  (click)="scrollToTop()" />
            <p class=" " style="color: #0e2b5c; text-align: justify">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Maiores modi nemo totam? Facere unde, odit debitis vel
              ex maiores harum, aperiam, totam? Facere unde, odit debitis vel
              ex maiores harum, aperiam, totam? Facere unde, odit debitis vel


            </p>
            <div class="footer-widget__content mt-2 ">
              <h6 class="footer-widget__title heading1  pb-2 ">Office Location:-</h6>
              <div class="footer-widget__content mb-3">
                <p class="adderss text-start">
                  recusandae dolorum voluptatibus ut asperiores excepturi?
                  asperiores
                </p>
              </div>


            </div>
            <div class="footer-widget__content mt-3">
              <h6 class="footer-widget__title mb-2 text-center">Contact Us</h6>
              <nav class="">
                <ul class=" text-start list-unstyled mailandtel text-center">
                  <li class="nav-item">
                    <a class="nav-link"  style="margin: 5px;" href="mailto:info@smartagents.in"><i
                        class="far fa-envelope"></i>info@smartagents.in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-2" 
                      style="margin-left: 10px" href="https://smartagents.in/">https://www.smartagents.in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-2" 
                      style="margin-left: 10px" href="https://blog.smartagents.in/" target="_blank">https://blog.smartagents.in/</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- /.footer-widget__content -->
        </div>
        <!-- /.col-xl-2 -->
        <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav ">
          <h6 class="footer-widget__title ">Smart Agents</h6>
          <div class="footer-widget__content">
            <nav>
              <ul class="list-unstyled ">
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Our Services </a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Price Trends </a>
                </li>

                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Join with Us</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Advertise with Us </a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Articles</a>
                </li>

                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Careers</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">News & Media</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Sales Enquiry</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Legal Services</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Buy Our Services</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Unsubscribe</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget__content -->
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
          <h6 class="footer-widget__title">Aggregator Platform</h6>
          <div class="footer-widget__content">
            <nav>
              <ul class="list-unstyled">
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Smart Agents App</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Smart Builders App </a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Buyer & Sellers App</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Admin Dashboard</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Meeting Scheduler</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Lead Management
                  </a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Live Tracking
                  </a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Customer Support</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Developer Support</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Customized Solutions</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget__content -->
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-sm-6 col-md-6 col-lg-2 footer-widget footer-widget-nav">
          <h6 class="footer-widget__title">Our Projects</h6>
          <div class="footer-widget__content">
            <nav>
              <ul class="list-unstyled">
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Plug & Play Offices</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Commercial Properties</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Office Buildings</a>
                </li>
                <li>
                  <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Residential Properties</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Gated Communities</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Highrise Towers</a>
                </li>

                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Villas</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Independent Houses</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Joint Ventures</a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Consultancy Services </a>
                </li>
                <li>
                  <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Property Loans</a>
                </li>
              </ul>
            </nav>
          </div>
          <!-- /.footer-widget__content -->
        </div>
        <!-- /.col-lg-2 -->
        <div class="col-sm-6 col-md-6 col-lg-3 footer-widget footer-widget-nav footer-menu">
          <div class="footer-widget__content">
            <h6 class="footer-widget__title mb-2">Social Connect</h6>
            <div class="footer-widget__content pt-2">
              <ul class="icons mb-2 ">
                <li>
                  <a href="https://www.facebook.com/SmartAgents-in-103436559156107" target="_blank"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="ms-4-5">
                  <a href="https://twitter.com/SmartAgents_in" target="_blank"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li class="ms-4-5">
                  <a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
                </li>
                <li class="ms-4-5">
                  <a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a>
                </li>
                <!-- <hr style="margin-top: 2px; margin-bottom: 13px" /> -->
              </ul>
            </div>

            <div class="footer-widget__content">
              <h6 class="footer-widget__title pb-2">Youtube channels</h6>

              <ul class="youtube pb-3">
                <li>
                  <a href="https://www.youtube.com/channel/UCRXt4-wBkOjUeuuqJNkWjFg" target="_blank"><i class="fab fa-youtube"
                      aria-hidden="true"></i></a>
                  <span>Agents</span>
                </li>
                <li class="ms-4-5">
                  <a href="https://www.youtube.com/channel/UCVWFWrCQAYmDRk1cBn5kxZg" target="_blank"><i class="fab fa-youtube"
                      aria-hidden="true"></i></a>
                  <span>Builders</span>

                </li>
                <li class="ms-4-5">
                  <a href="https://www.youtube.com/channel/UCZWITxv8R3yOljGu9ptsYnA" target="_blank"><i class="fab fa-youtube"
                      aria-hidden="true"></i></a>
                  <span>Properties</span>
                </li>

                <!-- <hr style="margin-top: 2px; margin-bottom: 13px" /> -->
              </ul>
            </div>
            <div class="ours-apps  mb-2">
              <h6 class="footer-widget__title mt-2 mb-2" style="margin-bottom: 0; clear: both" >Get Ours Apps</h6>
              <div class="d-flex justify-content-center text-center pt-2  pb-2">
                <div class="col-sm">
                  <a href="https://play.google.com/store/apps?hl=en&gl=US" target="_blank" class="nav-link text-start"><img src="../../../../assets/img/android.svg" alt=""></a>
                </div>
                <div class="col-sm">
                  <a href="https://www.apple.com/in/app-store/" target="_blank" class="nav-link"><img src="../../../../assets/img/ios.svg" alt=""></a>
                </div>
              </div>
            </div>
            <div class="blog">
              <h6  class="footer-widget__title" style="margin-bottom: 1rem; clear: both">Blog</h6>
              <div class="blog-post blog-md clearfix d-flex">
                <div class="dlab-post-media dlab-img-effect zoom-slow blog-img">
                  <a routerLink="/blog" (click)="scrollToTop()" >
                    <img src="assets/img/smartagents/footer-images/blog.png" alt="blog-img" style="width: 70px; height:40px
                      " /></a>
                </div>
                <div class="dlab-post-info ">
                  <div class="dlab-post-title">
                    <h4 class="post-title text-start">
                      <a routerLink="/blog" (click)="scrollToTop()" class="h6">Lorem, ipsum dolor sit amet voluptatum! quos corporis,
                        <br>
                        <a routerLink="/blog" (click)="scrollToTop()"  title="READ MORE" rel="bookmark" class="site-button">READ MORE <i
                            class="ti-arrow-right"></i></a></a>
                    </h4>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="footer-widget__content">
          </div>
          <!-- /.footer-widget__content -->
        </div>
        <!-- /.col-lg-2 -->
      </div>
      <!-- /.row -->
    </div>

  </section>
  <div class="footer-bottom-links">
    <nav class="container">
      <ul class="list-unstyled ">
        <li>
          <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">About Us</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="contact-us" routerLinkActive="active" (click)="scrollToTop()">Contact Us</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Terms & Conditions</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Privacy-Policy</a>
          <b>|</b>
        </li>
        <li>
          <a href="" routerLink="" routerLinkActive="active" (click)="scrollToTop()">Sitemap </a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">FAQ</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">CSR</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="feedback" routerLinkActive="active" (click)="scrollToTop()">Feedback</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="blog" routerLinkActive="active" (click)="scrollToTop()">Blog</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Testimonials</a>
          <b>|</b>
        </li>
        <li>
          <a href="/" routerLink="/" routerLinkActive="active" (click)="scrollToTop()">Complaints</a>
        </li>
      </ul>

    </nav>
  </div>
  <div class="footer-bottom-links-2">
    <div class="container">
      <div class="d-flex pt-5 pb-5 align-items-center">
        <div class="col-sm">
          <div class="d-flex find-property">
            <div class="col-6">
              <h6 class="footer-bottom-titel mb-0">Find Property</h6>
              <p>Select from thousands of options, without brokerage.</p>
            </div>
            <div class="col-6 text-end">
              <button class="btn ">Find Now</button>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="d-flex ">
            <div class="col-6">
              <h6 class="footer-bottom-titel mb-0">Post Your Property</h6>
              <p>Select from thousands of options, without brokerage.</p>
            </div>
            <div class="col-6 text-end">
              <button class="btn ">Free Posting</button>
            </div>
          </div>
        </div>
        <!-- <div class="col-sm">
          <div class="d-flex">
            <div class="col-6">
              <h6 class="footer-bottom-titel mb-0">Post Your Property </h6>
              <p>For Free. Without any brokerage.</p>
            </div>
            <div class="col-6">
              <button class="btn ">Free Posting</button>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>

  <div class=" copyright ">
    <div class="container d-flex">
      <p class=" text-start col-sm  m-0">
        © Copyright 2022 Smart Agents
        <!-- Copyright <i class="far fa-copyright"></i>2022 All Rights Reserved. -->
      </p>
      <span class="text-end col-sm">Tech Partners -<a href="https://www.ddistechnologies.com/" target="_blank"> DDiS
          Technologies</a></span>
    </div>
  </div>

</footer>
<div class="chat-box">
  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat" viewBox="0 0 16 16">
    <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
  </svg> -->
  <img src="../../../../assets/img/chat-box.png" alt="">
</div>
<ngx-scrolltop></ngx-scrolltop>