.nav{
    justify-content: space-between;
        .nav-link{
            font-weight: bold;
            text-decoration: none;
            color: gray;
            text-transform: capitalize;
            &.active{
                color: #0071BC ;
                text-decoration: underline;
            }
        }

}


@media (min-width:1024px) and (max-width:1440px){
    .nav .nav-link{
        font-size: 12px !important ;
      }
}