<div class="container">
    <ul class=" justify-content:between nav login-form align-items-center">
        <li><a href="" class="nav-link" routerLink="/users-login" routerLinkActive ="active">Users login</a></li>
        <li><a href=""  class="nav-link"routerLink="/agents-login" routerLinkActive="active">Agents login</a></li>
        <li><a href="" class="nav-link" routerLink='/builders-login' routerLinkActive="active">builders login</a></li>
        <li><a href=""  class="nav-link" routerLink='/buyers-login' routerLinkActive="active">buyers login</a></li>
        <li><a href=""  class="nav-link" routerLink="/sellers-login" routerLinkActive="active">sellers login</a></li>
    </ul>
</div>